.bg_kjh{
    background: url('../images/contactus/cnt_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 700px;
    position: relative;
    align-items: center;
    justify-self: center;
    display: flex;
}
.bg_kjjh1{
    background: url('../images/contactus/first_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 650px;
    position: relative;
    align-items: end;
    justify-self: center;
    display: flex;
}
.bg_kjh .card{
    background-color: rgba(106, 84, 67, 0.5);
    padding: 30px 55px;
    width: 40%;
    margin: 0 auto;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
}.bg_kjh .form-control, .bg_kjh .form-select{
    padding: 0.7rem;
    font-size: 13px;
    font-weight: 500;
}.bg_kjh .form-control::placeholder{
    color: #00111F;
    font-size: 13px;
    opacity: 0.8;
    font-weight: 500;
}.bg_kjh button{
    border: 1px solid #FFFFFF;
    background: transparent;
    padding: 6px 35px;
    font-size: 15px;
    color: #fff;
    border-radius: 3px;
}.bg_kjh button:hover{
    background: transparent linear-gradient(90deg, #FFC769 0%, #FFB435 100%);
    border: 1px solid #FFC769;
}.bg_kjh .form-control:focus, .bg_kjh .form-select:focus{
    box-shadow: none;
}.bg_kjh h2{
    margin-bottom: 30px;
    font-size: 35px;
    margin-top: 15px;
}.bg_kjh .mb-3{
    margin-bottom: 1.5rem!important;
}.bg_kjh h2 img{
    width: 60px;
    margin-top: -30px;
}.bg_kjh span.cty1_tle{
    margin-left: -40px;
}.bg_kjjh1 .card{
    background: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    margin-bottom: 60px;
    border: none;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}.bg_kjjh1 .card h3{
    font-family: 'Buttercell Brush';
    color: #FFB435;
    text-align: center;
    font-size: 24px;
}.kjjh1_m img{
    width: 65px;
    margin-top: -35px !important;
    margin: 0 auto;
    display: flex;
    margin-bottom: 25px;
}.bg_kjjh1 .card p{
    padding: 0px 25px;
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
}
@media(max-width: 768px){
    .bg_kjh .card{
        width: 100%;
        padding: 30px 15px;
    }.bg_kjh, .bg_kjjh1{
        height: auto;
        background-size: cover;
        background-position: center;
        padding-bottom: 40px;
    }
}
@media(max-width: 576px){
    .bg_kjjh1 .card {
        background: rgba(0, 0, 0, 0.5);
        color: #FFFFFF;
        margin-bottom: 10px !important;
        margin-top: 65px !important;
        width: 80%;
        margin: 0 auto;
    }
}
@media(min-width: 481px) and (max-width: 576px){
    .bg_kjh .card{
        width: 85%;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 30px 15px;
    }
}
@media(min-width: 576px) and (max-width: 767px){
    .bg_kjh .card{
        width: 90%;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 30px 15px;
    } .bg_kjjh1 .card {
        background: rgba(0, 0, 0, 0.5);
        color: #FFFFFF;
        margin-bottom: 10px !important;
        margin-top: 65px !important;
    }
}
@media(min-width: 778px) and (max-width: 1200px){
    .bg_kjh .card{
        width: 80%;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 30px 45px;
    }
}